 .bg{
	background: url(../assets/img/fondo.jpg) no-repeat;
	background-size: cover;
	overflow:hidden;
	min-height: 100vh;
	min-width: 100vw;
	background-position: center;

} 

.vh{
	height: 100vh;
}
.img-instagram{
	padding: 22% 0 0 0;
}
.pf-sign{
	margin: 0;
	color: white;
	text-align: center;
  font-size: 20px;

}
.btn-login{
	background-color: #425F9C;
	margin: 5% 0 0 0;
	width: 100%;
}
.face {
	width: 80%;
}

.sign-up{
	text-decoration: none;
}

.logo2{
	width:100%;
}

.mg-10{
	margin-top: 10px;
}

.iconosAbajo{
	display: inline-block;
	margin: 0px 15px;
}

.bottom{
	margin-top: 10px;
	bottom: 0;
	position: absolute;
	background-color: white;
	width: 100vw;
}

.tumb{
	height:100px;
	width:100px;
}

.imgs{
	position: relative;
}

#userPic{
	width:100px;
	height: 100px;
	border-radius: 100%;
}
@media (max-width: 375px ){
	.pf-sign{
		font-size: 12px;
	}
}
