 .bg{
	background: url(../assets/img/fondo.jpg) no-repeat;
	background-size: cover;
	overflow:hidden;
	min-height: 100vh;
	min-width: 100vw;
	background-position: center;
} 

.imgShare{
	height: 65px;
	width: 65px;
	margin-top: 54%;
	border:1px solid #000;
	border-radius: 50%;
}

.none{
	display: none;
}

.post{
	font-size: 1.3em;
    padding: 5%;
}

#mensajes{
	margin-bottom: 25%;
}

.imgShare img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.share{
	margin-right: 5px;
	font-size: 20px;
}

.star{
    color: amber;
}

.lilMenu{
    margin-top: 10px;
}
#imagenPublicada{
    height: 225px;
    width: 100%;
    border:1px solid black;
    margin-top: 28px;
}
.bgw{
    background-color: white;
    font-size: 18px;
    color: #000 !important;
    border:none !important;
    margin-top: 10px;
    padding-top: 10px;
}
.proPic{
    width: 50px !important ;
    height:50px !important ;
}

.counts{
	font-weight: bolder;
}

.star{
	color: #ffc107;
}

.lilMenu{
	margin-top: 10px;
}

#imagenPublicada{
	height: 225px;
	width: 100%;
	border:1px solid black;
	margin-top: 28px;
}

.bgw{
	background-color: white;
	font-size: 18px;
	color: #000 !important;
	border:none !important;
	margin-top: 10px;
	padding-top: 10px;
}

.proPic{
	width: 50px !important ;
	height:50px !important ;
}

.vh{
	height: 100vh;
}
.img-instagram{
	padding: 22% 0 0 0;
}
.pf-sign{
	margin: 0;
	color: white;
	text-align: center;
  font-size: 20px;

}
.btn-login{
	background-color: #425F9C;
	margin: 5% 0 0 0;
	width: 100%;
}
.face {
	width: 80%;
}

.sign-up{
	text-decoration: none;
}

.logo2{
	width:100%;
}

.mg-10{
	margin-top: 10px;
}

.iconosAbajo{
	display: inline-block;
	margin: 0px 15px;
}

.bottom{
	margin-top: 10px;
	bottom: 0;
	position: absolute;
	background-color: white;
	width: 100vw;
}

.tumb{
	height:100px;
	width:100px;
}

.imgs{
	position: relative;
}

#userPic{
	width:100px;
	height: 100px;
	border-radius: 100%;
}

.col.s12.pd.fixed{
	padding: 0;
}

.s1{
	min-width: 57px !important;;
}

.fixed{
	position: fixed;
	bottom: 0;
}

#imagenPublicada a .img{
    width: 100%;
    border-radius: 0;
    float: none;
    height: 100%;
    margin: 0;
}

@media (max-width: 375px ){
	.pf-sign{
		font-size: 12px;
	}
}
